.product {
  &__breadcrumbs {
    margin-bottom: 60px;
  }

  &__wrapper {
    margin-bottom: 160px;
  }

  &__title {
    margin-bottom: 18px;
  }

  &__info {
    display: flex;
    column-gap: 24px;
    align-items: center;
    margin-bottom: 33px;
  }

  &__left {
    max-width: 770px;
  }

  &__img {
    height: 675px;
    object-fit: cover;
    margin-bottom: 80px;
  }

  &__download {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
