.product {
  &__breadcrumbs {
    margin-bottom: 60px;

    @media screen and (width <= 768px) {
      margin-bottom: 40px;
    }
  }

  &__wrapper {
    display: flex;
    gap: 20px;
    margin-bottom: 160px;

    @media screen and (width <= 1500px) {
      flex-direction: column;
    }

    @media screen and (width <= 768px) {
      margin-bottom: 64px;
    }
  }

  &__title {
    margin-bottom: 18px;

    @media screen and (width <= 768px) {
      margin-bottom: 16px;
    }
  }

  &__info {
    display: flex;
    column-gap: 24px;
    align-items: center;
    margin-bottom: 33px;

    @media screen and (width <= 576px) {
      justify-content: space-between;
    }
  }

  &__left {
    max-width: 770px;

    @media screen and (width <= 1500px) {
      display: flex;
      flex-direction: column;
      max-width: 100%;
    }
  }

  &__img {
    height: 675px;
    object-fit: cover;
    margin-bottom: 80px;

    @media screen and (width <= 1500px) {
      margin-bottom: 16px;
      align-self: center;
    }

    @media screen and (width <= 1024px) {
      height: 450px;
    }

    @media screen and (width <= 768px) {
      margin-bottom: 0;
      height: 345px;
    }
  }

  &__download {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__summary-wrap {
    max-width: 770px;
    width: 100%;

    @media screen and (width <= 1500px) {
      max-width: 100%;
    }
  }

  &__summary {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media screen and (width <= 768px) {
      gap: 8px;
    }

    &--border {
      position: relative;
    }

    &--border::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: var(--line-color);
    }
  }

  &__counter-button {
    margin-right: 15px;

    @media screen and (width <= 576px) {
      margin-right: 0;
      width: 100%;
      align-self: flex-start;
    }
  }

  &__tabs-head {
    @media screen and (width <= 1500px) {
      display: none;
    }
  }

  &__tabs-head-mobile {
    display: none;

    @media screen and (width <= 1500px) {
      display: block;
    }
  }

  &__summary-top,
  &__summary-calculator,
  &__summary-about,
  &__summary-contacts {
    background-color: var(--bg-color);
    padding: 40px;
    display: flex;
    flex-direction: column;

    @media screen and (width <= 768px) {
      padding: 16px;
    }
  }

  &__summary-calculator,
  &__summary-about,
  &__summary-contacts {
    @media screen and (width <= 768px) {
      display: none;
    }
  }

  &__accordion {
    display: none;

    @media screen and (width <= 768px) {
      display: block;
    }
  }

  &__summary-contacts-subtitle {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 29px;
  }

  &__summary-contacts-block {
    display: flex;
    margin-bottom: 25px;
  }

  &__summary-tel {
    margin-right: 40px;
  }

  &__summary-tel {
    display: flex;
    column-gap: 12px;
  }

  &__summary-contacts-tels {
    margin-bottom: 16px;
  }

  &__summary-contacts-tels-item {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.4;
    transition: color 0.3s;

    @media screen and (width <= 768px) {
      font-size: 16px;
    }

    &:hover {
      color: var(--red-color);
    }

    &:not(:last-child) {
      margin-bottom: 8px;

      @media screen and (width <= 768px) {
        margin-bottom: 4px;
      }
    }
  }
  &__summary-contacts-tels-link {
    transition: color 0.3s;

    &:hover {
      color: var(--red-color);
    }
  }

  &__summary-mail-item {
    display: flex;
    align-items: center;
    column-gap: 12px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.4;

    @media screen and (width <= 768px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    svg {
      align-self: flex-start;
      flex-shrink: 0;
    }
  }

  &__summary-mail-link {
    display: flex;
    align-items: center;
    column-gap: 12px;
    transition: color 0.3s;

    &:hover {
      color: var(--red-color);
    }
  }

  &__summary-contacts-text {
    font-weight: 500;
    font-size: 18px;
    color: var(--line-color);
  }

  &__more-btn {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
    display: flex;
    column-gap: 8px;
    align-items: center;
    transition:
      color 0.3s,
      margin-bottom 0.8s;

    &--active {
      margin-bottom: 24px;

      svg {
        transform: rotate(180deg);
      }
    }

    svg {
      transition: all 0.3s;

      path {
        transition: all 0.3s;
      }
    }

    &:hover {
      color: var(--red-color);

      svg {
        path {
          stroke: var(--red-color);
        }
      }
    }
  }

  &__summary-about-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    will-change: max-height;

    &--active {
      max-height: 1000px;
      transition: max-height 0.6s ease-in;
    }
  }

  &__summary-subtitle {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 8px;

    @media screen and (width <= 768px) {
      font-size: 16px;
    }
  }

  &__summary-text-block {
    margin-bottom: 16px;
  }

  &__summary-info {
    margin-bottom: 8px;
  }

  &__summary-info-item {
    display: flex;
    align-items: center;
    column-gap: 12px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.4;

    @media screen and (width <= 768px) {
      font-size: 16px;
    }

    svg {
      flex-shrink: 0;
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__summary-contacts-tels-wrap {
    svg {
      flex-shrink: 0;
    }

    @media screen and (width <= 768px) {
      display: flex;
      column-gap: 12px;
    }
  }

  &__summary-text {
    span {
      color: var(--red-color);
    }
  }

  &__summary-title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 16px;

    span {
      color: var(--red-color);
      text-decoration: underline;
      text-underline-offset: 5px;
    }
  }

  &__summary-about-top {
    padding-bottom: 32px;
    margin-bottom: 24px;
    border-bottom: 1px solid var(--line-color);
  }

  &__summary-text {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 24px;

    @media screen and (width <= 768px) {
      font-size: 16px;
      margin-bottom: 16px;
    }
  }

  &__summary-feature {
    display: flex;
    align-items: center;
    gap: 60px;
    padding-bottom: 24px;
    margin-bottom: 24px;

    @media screen and (width <= 768px) {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 16px;
      padding-bottom: 16px;
      margin-bottom: 16px;
    }
  }

  &__summary-item-list {
    display: flex;
    gap: 16px;
  }

  &__feature-btn {
    border: 1px solid var(--black-color);
    border-radius: 100px;
    width: 295px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-color 0.3s;

    @media screen and (width <= 768px) {
      height: 60px;
    }

    &:hover {
      border-color: var(--red-color);
    }

    .txt {
      margin: 0 8px;
    }
    svg {
      vertical-align: middle;
    }
  }

  &__size-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: var(--black-color);
  }

  &-price__list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &-price {
    &__subtitle {
      margin-bottom: 16px;

      @media screen and (width <= 768px) {
        margin-bottom: 8px;
      }
    }

    &__title {
      font-weight: 400;
      font-size: 34px;
      line-height: 74%;
      color: #1c1c1c;
      font-family: 'Unbounded';

      @media screen and (width <= 768px) {
        font-size: 22px;
      }

      &--red {
        color: var(--red-color);
      }
    }

    &__info {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    &__info-wrapper {
      position: relative;
      align-self: flex-end;

      @media screen and (width <= 768px) {
        display: none;
      }

      &:hover {
        .product-price__info-tooltip {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &__info-tooltip {
      background-color: var(--white-color);
      padding: 4px 8px;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.33333;
      position: relative;
      position: absolute;
      left: 50%;
      top: 30px;
      transform: translateX(-50%);
      width: fit-content;
      z-index: 4;
      min-width: 180px;
      opacity: 0;
      visibility: hidden;
      transition:
        opacity 0.3s,
        visibility 0.3s;

      &::before {
        content: '';
        display: block;
        background-color: var(--white-color);
        width: 14px;
        height: 14px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
  }

  &__summary-price {
    padding-bottom: 24px;
    margin-bottom: 24px;

    @media screen and (width <= 768px) {
      padding-bottom: 16px;
      margin-bottom: 16px;
    }
  }

  &__summary-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (width <= 1500px) {
      justify-content: center;
    }

    @media screen and (width <= 576px) {
      flex-direction: column;
      row-gap: 8px;
    }
  }

  &__btn {
    @media screen and (width <= 768px) {
      height: 48px;
      font-size: 16px;
      padding: 11px 24px;
      width: 100%;
      justify-content: center;
    }
  }

  &__btn-kp {
    max-width: 335px;
    width: 100%;
    height: 60px;

    @media screen and (width <= 768px) {
      height: 48px;
      max-width: 100%;
      align-self: flex-start;
    }
  }
}
.checkbox-wrapper {
  display: flex;
}
.checkbox-wrapper input {
  Ñursor: pointer;
  position: absolute;
  opacity: 0;
}
.checkbox-wrapper label:not(:last-child) {
  margin-right: 16px;
}
.checkbox-wrapper label {
  display: block;
  position: relative;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: var(--black-color);
  user-select: none;
  padding: 10px 24px;
}
.checkbox-wrapper label.active {
  color: var(--red-color);
}
.checkbox-wrapper span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid var(--line-color);
}
.checkbox-wrapper label input:checked ~ span {
  background: rgba(227, 60, 24, 0.1);
  border: 1px solid var(--red-color);
}
