.badge {
  border-radius: 11px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  column-gap: 4px;
  width: fit-content;

  &--product {
    padding: 8px 16px;
    border-radius: 42px;
    column-gap: 8px;

    @media screen and (width <= 768px) {
      padding: 5px 10px;
    }

    .badge__circle {
      width: 10px;
      height: 10px;
    }

    .badge__text {
      font-size: 16px;

      @media screen and (width <= 768px) {
        font-size: 12px;
      }
    }
  }

  &__circle {
    display: block;
    border-radius: 50%;
    background-color: var(--white-color);
    width: 6px;
    height: 6px;
  }

  &__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
    text-align: right;
    color: var(--white-color);
  }

  &--green {
    background-color: var(--green-color);
  }
}
