.table {
  width: 100%;
  background-color: #fff;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--light-gray-color);

    @media screen and (width <= 768px) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__property {
    font-size: 22px;
    font-weight: 500;
    color: var(--black-color);
    margin-right: 10px;

    @media screen and (width <= 768px) {
      width: 150px;
      font-size: 16px;
    }
  }

  &__value {
    color: var(--black-color);
    width: 360px;

    @media screen and (width <= 576px) {
      width: 180px;
    }
  }
}
