.products-slider {
  position: relative;
  z-index: 3;

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;

    @media screen and (width <= 1024px) {
      margin-bottom: 32px;
    }
  }

  &__title {
    margin-right: 15px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (width <= 768px) {
      padding-bottom: 24px;
    }
  }

  &__slider-controls {
    &.slider-controls {
      @media screen and (width <= 768px) {
        display: none;
      }
    }
  }

  &__pagination {
    display: none;

    @media screen and (width <= 768px) {
      display: block;
      position: relative;

      .swiper-pagination-progressbar-fill {
        position: absolute;
      }
    }
  }
}
